<h1>THP Corsairs</h1>

<% @corsairs.each do |corsair| %>

  <h2><%= corsair.first_name %></h2>
  <p><%= corsair.age %></p>
  <p><%= corsair.likeness %></p>
  <p class="btn btn-primary"><%= link_to 'Show Corsair', corsair_path(corsair.id) %></p>

<% end %>

<p><a href="<%= new_corsair_path %>" class="btn btn-default">Add New Corsair/a></p>
