<h1>New Corsair</h1>

<%= form_for @corsair do |f| %>

  <div class="form-group">

    <label>First Name</label>

    <%= f.text_field :first_name, class: 'form-control' %>

  </div>

  <div class="form-group">

    <label>Age</label>

    <%= f.text_field :age, class: 'form-control' %>

  </div>

  <div class="form-group">

    <label>Likeness</label>

    <%= radio_button_tag(:likeness, "kebab"), class: 'form-control' %>
    <%= label_tag(:likeness_kebab, "I love Kebab"), class: 'form-control' %>
    <%= radio_button_tag(:likeness, "hummus"), class: 'form-control' %>
    <%= label_tag(:likeness_hummus, "I love Hummus"), class: 'form-control' %>

  </div>

  <div class="form-group">

    <button type="submit">Create Corsair</button>

  </div>

<% end %>
